<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <style>
        p {margin-left:120px;}
        body {background-image:url("/img/background2.jpg");}
    </style>
</head>
<body>
<h1>Things you can do in HTML</h1>
<h2 style="background-color:DodgerBlue;">Favorite Links</h2>
    <ul>
        <li><a href="https://www.mozilla.org/en-US/">the Mozilla homepage</a></li>
        <li><a href="https://www.w3schools.com/">W3 Schools Website</a></li>
    </ul>
<p>
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?

</p>

<img src="https://upload.wikimedia.org/wikipedia/commons/4/4d/USA_10654_Bryce_Canyon_Luca_Galuzzi_2007ggg.jpg"  alt="Picture of Bryce Canyon" height="100" width="100">

<p/>

<img src="img/Grand_Canyon.jpg" alt="Grand Canyon"/>
</body>
</html>